<table border="0" class="left">
  <tbody>
    <tr>
      <th>Naam</th>
      <th>E-mailadres</th>
      <th>Ploeg</th>
      <th>Superteam</th>
      <th>Laatste wijziging</th>
    </tr>
  </tbody>
  <% contestants.each do |contestant| %>
    <tr class="<%= cycle('odd', 'even') %>">
      <td><%= contestant.name %></td>
      <td><%= mail_to(contestant.email) %></td>
      <td><%= contestant.team.try(:name) || '-' %></td>
      <% if contestant.superteam.nil? %>
        <td>Nog niet ingevuld.</td>
      <% elsif contestant.superteam.valid? %>
        <td style="color: green;">Geldig!</td>
      <% else %>
        <td style="color: red;">Ongeldig!</td>
      <% end %>
      <td>
      <% if contestant.superteam.present? %>
        <%= contestant.superteam.updated_at.strftime("%d-%m-%Y")  %>
      <% else %>
        -
      <% end %>
    </tr>
  <% end %>
</table>
