<h2>Opgaveformulier</h2>
<%= form_for @contestant do |f| %>
  <% if @contestant.errors.any? %>
    <div id="error_explanation">
      <h3>Vul het formulier alstublieft correct in:</h3>
      <ul>
      <% @contestant.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
      <% if @contestant.errors[:email].present? && @contestant.email.present? %>
        <p>Wilt u <%= link_to 'inloggen met uw bestaande account?', login_path(:email => @contestant.email) %></p>
      <% end %>
    </div>
  <% end %>

  <fieldset>
    <legend>Contactgegevens</legend>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <%= f.label :email do %>
      <%= t('activerecord.attributes.contestant.email') %> (<em>uniek per deelnemer</em>)
    <% end %>
    <%= f.text_field :email %>
    <%= f.label :team do %>
      Ploeg (<em>niet verplicht:</em> <%= link_to 'zie spelregels', rules_path(anchor: 'team_poule') %>)
    <% end %>
    <span>Bestaande: <%= f.collection_select :team_id, Team.all, :id, :name, prompt: true %> óf een nieuwe ploeg:</span>
    <%= f.text_field :team_name %>
  </fieldset>

  <h3>Betaling</h3>
  <p>
    Gelieve te betalen via de bank of contant. Rekeningnummer: <strong>NL18RABO03104.53.372</strong> t.n.v. N. J. Huntink. Bedrag: €15,00 (jeugdleden: €8,00).
  </p>

  <p>
    <button type="submit" class="cta" name="submit"><span>Registratie voltooien &amp; superteam samenstellen »</span></button>
  </p>
<% end %>
