<%- content_for(:title, "Contact") %>

<h2>Contact opnemen</h2>
<p>Gebruik het onderstaande formulier voor vragen of opmerkingen.</p>
<%= form_for @message do |f| %>
  <% if @message.errors.any? %>
    <div id="error_explanation">
      <h3>Vul het formulier alstublieft correct in:</h3>
      <ul>
      <% @message.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
    <dl>
      <dt>
        <%= f.label :name, "Naam" %>
      </dt>
      <dd>
        <%= f.text_field :name, style: "width: 400px;" %>
      </dd>
      <dt>
        <%= f.label :email, "E-mailadres", style: "width: auto;" %>
      </dt>
      <dd>
        <%= f.text_field :email, style: "width: 400px;" %>
      </dd>
      <dt>
        <%= f.label :recipient, "Ontvanger" %>
      </dt>
      <dd>
        <%= f.select :recipient, [
          ["Nico Huntink (Algemeen contact)", 2],
          ["Thomas Brus (Technisch contact)", 1]
        ] %>
      </dd>
      <dt>
        <%= f.label :spam_check, "4 + ðŸ¿ =" %>
      </dt>
      <dd>
        <%= f.text_field :spam_check, style: "width: 400px;" %>
      </dd>
      <dt>
        <%= f.label :content, "Bericht" %>
      </dt>
      <dd>
        <%= f.text_area :content, size: "40x10", style: "width: 400px;" %>
      </dd>

    </dl>
  </fieldset>
  <p style="margin-left: calc(40% - 150px); padding: 0 0 0 10px;">
    <button type="submit" class="cta" name="submit">
      <span>Bericht verzenden</span>
    </button>
  </p>
<% end %>
