<% announcements.each do |announcement| %>
  <div class="announcement">
    <header class="announcement__header">
      <main class="flex-grow">
        <h4 class="announcement__title"><%= announcement.title %></h4>
        <em>Door <%= announcement.author.name %> op <%= l(announcement.created_at.to_date) %></em>
      </main>
    </header>
    <main class="announcement__content">
      <%= simple_format(announcement.content) %>
    </main>
    <footer>
      <% if is_admin? %>
        / <%= link_to "(Bewerken)", edit_announcement_path(announcement) %>
        / <%= link_to "(Verwijder)", announcement_path(announcement), method: :delete %>
      <% end %>
    </footer>
  </div>
<% end %>
