<%- content_for(:title, "Welkom") %>

<div class="overflow-hidden">
  <div id="welcome" class="left" style="width:60%;">
    <h2>Welkom bij de Supermanager!</h2>
    <p>
      Dit seizoen voor de 21ste keer ons Superteam. We hopen, dat jullie ook dit keer weer willen deelnemen.
    </p>
    <p>
      Stimuleer ook anderen, zodat we weer veel deelnemers krijgen.
      Als iedereen er één deelnemer bij zoekt, zou het een mooi aantal worden.
      Het prijzenschema wordt gewijzigd. Iedere maand een 1ste, 2de en 3de prijs.
    </p>
  </div>

  <aside id="sidebar" class="right" style="width:35%;">
    <% if WeeklyRanking.current.present? %>
      <%= render('weekly_rankings/top3', weekly_ranking: WeeklyRanking.current) %>
    <% else %>
      <%= render('weekly_rankings/empty') %>
    <% end %>
  </aside>
</div>

<div id="announcements">
  <% if @announcements.count > 0 %>
    <h3 class="mb-3">Laatste nieuws</h3>

    <%= render 'announcements/list', announcements: @announcements %>
    <div style="margin-top: 20px;">
      <%= link_to 'Lees alle mededelingen', announcements_path %>
      <% if is_admin? %>
        | <%= link_to 'Nieuwe mededeling', new_announcement_path %>
      <% end %>
    </div>
  <% end %>
</div>

<h3 class="mb-3 mt-3">Sponsor</h3>

<div id="sponsor">
  <%= render 'sponsors/list', sponsors: @sponsors %>
</div>
