<h2><%= link_to 'Spelerslijst', players_list_path %> &raquo; <%= @club.name %></h2>
<h3>Coach</h3>
<%= image_tag "shirts/#{@club.shorthand.downcase}.png", class: 'shirt' %>
<p><%= @club.coach.name %></p>
<%= render 'players', type: 'Middenvelders', players: @players.where(type: 'Midfielder') %>
<%= render 'players', type: 'Aanvallers', players: @players.where(type: 'Forward') %>
<div class="clear"></div>
<%= render 'players', type: 'Verdedigers', players: @players.where(type: 'Defender') %>
<%= render 'players', type: 'Doelmannen', players: @players.where(type: 'Goalkeeper') %>