<div class="rankings">
  <table class="contestant_ranking">
    <thead>
      <th>#</th>
      <th>Deelnemer</th>
      <th>Score</th>
    </thead>

    <tbody>
      <% @weekly_ranking.contestant_rankings.order(:position).each_with_index do |ranking, index| %>
        <tr class="<%= cycle('odd', 'even') %> <%= "highlight" if index.zero? %>">
          <td><%= ranking.position %></td>
          <td><%= ranking.contestant_name %></td>
          <td><%= ranking.total_score %></td>
        </tr>
      <% end %>

      <% reset_cycle %>
    </tbody>
  </table>

  <table class="team_ranking">
    <thead>
      <th>#</th>
      <th>Ploeg</th>
      <th>Score</th>
    </thead>

    <tbody>
      <% @weekly_ranking.team_rankings.order(:position).each_with_index do |ranking, index| %>
        <tr class="<%= cycle('odd', 'even') %> <%= "highlight" if index.zero? %>">
          <td><%= ranking.position %></td>
          <td><%= ranking.team_name %></td>
          <td><%= ranking.score %></td>
        </tr>
      <% end %>

      <% reset_cycle %>
    </tbody>
  </table>
  <table class="player_ranking">
    <thead>
      <th>#</th>
      <th>Speler</th>
      <th>Club</th>
      <th>Positie</th>
      <th>Waarde</th>
      <th>Score</th>
    </thead>

    <tbody>
      <% @weekly_ranking.player_rankings.order(:position).each_with_index do |ranking, index| %>
        <tr class="<%= cycle('odd', 'even') %> <%= "highlight" if index.zero? %>">
          <td><%= ranking.position %></td>
          <td><%= ranking.player_name %></td>
          <td><%= ranking.player_club %></td>
          <td><%= ranking.player_position %></td>
          <td><%= ranking.player_value %></td>
          <td><%= ranking.score %></td>
        </tr>
      <% end %>

      <% reset_cycle %>
    </tbody>
  </table>
</div>
