<!DOCTYPE html>
<html>
<head>
  <title>Supermanager</title>
  <%= stylesheet_link_tag "application", media: :all %>
  <%= render 'shared/rollbar' %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= render 'shared/analytics' %>
</head>
<body>
  <div id="container">
    <div id="maintenance">
      Een momentje geduld alstublieft terwijl de Supermanager gereed wordt gemaakt voor het komende seizoen.
    </div>
    <div class="top"></div>
    <div id="main">
      <div class="header">
        <%= link_to :root, class: "image" do %>
          <%= image_tag 'logos/ajaxb.png', alt: 'Ajax B logo' %>
        <% end %>
        <h1>Supermanager Ajax Breedenbroek 2017 - 2018</h1>
        <p>
          <% if logged_in? %>
            Welkom, <%= @current_contestant.name_with_team %>. <%= link_to 'Log uit', logout_path, method: :delete %>.
          <% else %>
            Welkom! <%= link_to 'Doe ook mee', sign_up_path %> of <%= link_to 'log in', login_path %>.
          <% end %>
          <% if is_admin? && !current_page?(contestants_path) %>
            Bekijk <%= link_to 'alle aanmeldingen', contestants_path %>.
          <% end %>
          </p>
      </div>
      <%
        pages = [[root_path, 'Home']]
        pages << [my_superteam_path, 'Mijn Superteam'] if logged_in?
        pages << [sign_up_path, 'Meedoen', true] << [login_path, 'Login'] unless logged_in?
        pages << [announcements_path, 'Mededelingen']
        pages << [players_list_path, 'Spelerslijst']
        pages << [rules_path, 'Spelregels']
        pages <<[contact_path, 'Contact']
      %>
      <%= render 'shared/nav', pages: pages %>
      <%= render 'shared/flashes' %>
      <div class="content">
        <%= yield %>
      </div>
    </div>
    <div class="bottom"></div>
  </div>
</body>
</html>
