<!DOCTYPE html>
<html>
<head>
  <title><%= [yield(:title).presence, "Ajax-B Supermanager"].compact.join(' - ') %></title>
  <%= favicon_link_tag asset_path('favicon.png') %>
  <%= stylesheet_link_tag "application", media: :all %>
  <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700&display=swap" %>
  <%= javascript_pack_tag 'application' %>
  <%= stylesheet_pack_tag 'application' %>
  <%= render 'shared/sentry' if Rails.env.production? %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= render 'shared/analytics' if Rails.env.production? %>
</head>
<body>
  <div id="container">
    <div id="main">
      <div class="header">
        <%= link_to :root, class: "image" do %>
          <%= image_tag 'logos/ajaxb.png', alt: 'Ajax B logo', width: 80 %>
        <% end %>
        <div>
          <h1>Supermanager Ajax Breedenbroek 2019 - 2020</h1>
          <p>
            <% if logged_in? %>
              Welkom, <%= @current_contestant.name_with_team %>. <%= link_to 'Log uit', logout_path, method: :delete %>.
            <% else %>
              Welkom! <%= link_to 'Doe ook mee', sign_up_path %> of <%= link_to 'log in', login_path %>.
            <% end %>
            <% if is_admin? && !current_page?(contestants_path) %>
              Bekijk <%= link_to 'alle aanmeldingen', contestants_path %>.
            <% end %>
            </p>
          </div>
      </div>
      <%
        pages = [[root_path, 'Home']]
        pages << [sign_up_path, 'Meedoen', true] unless logged_in?
        pages << [login_path, 'Login'] unless logged_in?
        pages << [my_superteam_path, 'Mijn Superteam', true] if logged_in?
        pages << [announcements_path, 'Mededelingen']
        pages << [players_list_path, 'Spelerslijst']
        pages << [rules_path, 'Spelregels']
        pages <<[contact_path, 'Contact']
      %>
      <%= render 'shared/nav', pages: pages %>
      <%= render 'shared/flashes' %>
      <div class="content">
        <%= yield %>
      </div>
    </div>
  </div>
</body>
</html>
