<!DOCTYPE html>
<html lang="nl">
<head>
  <title><%= [yield(:title).presence, "Ajax-B Supermanager"].compact.join(' - ') %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
  <%= favicon_link_tag asset_path('favicon.png') %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag "application", "tailwind", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700&display=swap" %>
  <%= render 'shared/sentry' if Rails.env.production? %>
  <%= javascript_importmap_tags %>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= render 'shared/analytics' if Rails.env.production? %>
</head>
<body>
  <div id="container">
    <main id="main">
      <div class="header">
        <%= link_to :root, class: "image" do %>
          <%= image_tag 'favicon.png', alt: 'Ajax B logo', width: 80 %>
        <% end %>
        <div>
          <h1>Supermanager Ajax Breedenbroek 2023 - 2024</h1>
          <p>
            <% if logged_in? %>
              Welkom, <%= @current_contestant.name_with_team %>. <%= link_to 'Log uit', logout_path, method: :delete %>.
            <% else %>
              Welkom! <%= link_to 'Doe ook mee', sign_up_path %> of <%= link_to 'log in', login_path %>.
            <% end %>
            <% if is_admin? && !current_page?(contestants_path) %>
              Bekijk <%= link_to 'alle aanmeldingen', contestants_path %>.
            <% end %>
            </p>
          </div>
      </div>
      <%
        pages = [[root_path, 'Home']]
        pages << [weekly_rankings_path, 'Tussenstand']
        pages << [sign_up_path, 'Meedoen'] unless logged_in?
        pages << [login_path, 'Login'] unless logged_in?
        pages << [my_superteam_path, 'Mijn Superteam'] if logged_in?
        pages << [players_list_path, 'Spelerslijst']
        pages << [rules_path, 'Spelregels']
        pages <<[contact_path, 'Contact']
      %>
      <%= render 'shared/nav', pages: pages %>
      <%= render 'shared/flashes' %>
      <div class="content">
        <%= yield %>
      </div>
    </main>
    <footer id="footer">
Website ontwikkeld door <a href="mailto:info@thomasbrus.nl" class="underline text-white">Thomas' Webdesign</a>
    </footer>
  </div>
</body>
</html>
